@font-face 
{
    font-family: Roboto-Light;
    src: url(/Genhome/fonts/Roboto/Roboto-Light.woff);
}
main {
	display: grid;
	grid-template:  1fr 3fr;
	grid-template-areas: "logo name"
	                     "title titlee"
	                     "login login";
}
.logo {
	grid-area:logo;
	border-bottom: 1.4px solid #E64A19;
}
.name {
	grid-area:name;
	border-bottom: 1.4px solid #E64A19;
}
.title {
	grid-area: title;
}
.titlee{
	grid-area: titlee;
	margin-left: 30px;
}
.login{
	grid-area: login;
}
.img { 
	height: 100px;
    width:100px;
    margin-left: 10px;
}
h1 {
	color: white;
	font-size:60px;
	margin: 0;
	margin-top: 15px;
	margin-left: 50px;
}
h2 {
	color: white;
	margin-right: 150px;
	margin-top: 40px;
}
body{
	background-color: #424242;
	font-family: Roboto-Light !important;
}
.login1 {
	margin-left: 420px;
  	display: grid;
  	grid-template-columns: 180px 180px;
	grid-template-areas: 
		"a a"
		"b c"
		"d e";
}
.a{
	grid-area: a;
	margin-top: 30px;
}
.b{
	grid-area: b;
	margin-top: 30px;
}
.c{
	grid-area: c;
	margin-top: 30px;
}

.d{
	grid-area: d;
	margin-top: 30px;
}
.e{
	grid-area: e;
	margin-left: 45px;
	margin-top: 30px;
}
.text1 {
	width: 320px;
	height: 30px;
	font-size: 17px;
	border: none;
    border-bottom: 1.4px solid #BDBDBD;
    color: #E0E0E0;
    background-color: #424242;
    font-family: Roboto-Light !important;
 }
 .text2{
	width: 145px;
	height: 30px;
	font-size: 17px;
	border: none;
    border-bottom: 1.4px solid #BDBDBD;
    color: #E0E0E0;
    background-color: #424242;
    font-family: Roboto-Light !important;
 }
 .text3{
	width: 145px;
	height: 30px;
	font-size: 17px;
	border: none;
    border-bottom: 1.4px solid #BDBDBD;
    color: #E0E0E0;
    background-color: #424242;
    font-family: Roboto-Light !important;
 }
label {
	font-size: 20px;
	display: block;
	margin-bottom: 4%;
	color: #F4511E;
}
button{
	width: 100px;
	height: 30px;
	background-color : #424242;
	border-color: white;
	display: inline;
	color: white;
	border-radius: 8px !important;
	cursor: pointer;
}