@font-face
{
    font-family: Roboto-Light;
    src: url(/Genhome/fonts/Roboto/Roboto-Light.woff);
}
main {
	display: grid;
	grid-template:  1fr 1fr 3fr/1fr 3fr 1fr;
	grid-template-areas: "logo name vide"
	                     "titlee titlee titlee"
	                     "login login login";
}
.logo {
	grid-area:logo;
	border-bottom: 1.4px solid #E64A19;
  height: 120px;


}
.vide{
  grid-area: vide;
  border-bottom: 1.4px solid #E64A19;
}

.name {
	grid-area:name;
	border-bottom: 1.4px solid #E64A19;
margin: 0;
  text-align: center;
}
.title {
	grid-area: title;
}
.titlee{
	grid-area: titlee;

  text-align: center;

}
.login{
	grid-area: login;
  display: flex;
  justify-content: center;
}
.img {
	height: 100px;
    width:100px;
    margin-left: 10px;
}
h1 {
	color: #BDBDBD;
	font-size:60px;
	margin: 0;
	margin-top: 15px;
	margin-left: 0;

	font-family: Roboto-Light;
	font-weight: bold;


}
h2 {
	color: white;

	margin-top: 40px;

}
body{
	background-color: #424242;
	font-family: Roboto-Light !important;
}
.login1 {


	margin:0 auto !important;
  	display: grid;
  	grid-template-columns: 180px 180px;
	grid-template-areas:
		"a a"
		"b c"
		"d e";
}
.a{
	grid-area: a;
	margin-top: 30px;
}
.b{
	grid-area: b;
	margin-top: 30px;

}
.c{
	grid-area: c;
	margin-top: 30px;

}

.d{
	grid-area: d;
	margin-top: 30px;
  text-align: center;
}
.e{
	grid-area: e;

	margin-top: 30px;
  text-align: center;
}
.text1 {
	width: 320px;
	height: 30px;
	font-size: 17px;
	border: none;
    border-bottom: 1.4px solid #BDBDBD;
    color: #E0E0E0;
    background-color: #424242;
    font-family: Roboto-Light !important;
 }
 .text2{
	width: 145px;
	height: 30px;
	font-size: 17px;
	border: none;
    border-bottom: 1.4px solid #BDBDBD;
    color: #E0E0E0;
    background-color: #424242;
    font-family: Roboto-Light !important;

 }
 .text3{
	width: 145px;
	height: 30px;
	font-size: 17px;
	border: none;
    border-bottom: 1.4px solid #BDBDBD;
    color: #E0E0E0;
    background-color: #424242;
    font-family: Roboto-Light !important;
 }
label {
	font-size: 20px;
	display: block;
	margin-bottom: 4%;
	color: #F4511E;
}
button{
	/*width: 100px;
	height: 30px;
	background-color : #424242;
	border-color: white;
	display: inline;
	color: white;
	border-radius: 8px !important;
	cursor: pointer;*/

  background-color: #BDBDBD00;
  color: #BDBDBD;
  padding: 0px;
  border: 1.5px solid #BDBDBD;
  border-radius: 8px !important;
  cursor: pointer;
  width: 60%;
  text-align: center;
  height: 30px;
  font-size: 17px;
  font-family: Roboto-Light;
  outline: none;
  margin: auto;

}
#butt{
  border: 1.5px solid #E64A19 !important;
  color: #E64A19 !important;
}
