@font-face 
{
    font-family: Roboto;
    src: url(/Genhome/fonts/Roboto/Roboto-Regular.woff);
}
@font-face 
{
    font-family: Roboto-Medium;
    src: url(/Genhome/fonts/Roboto/Roboto-Medium.woff);
}
@font-face 
{
    font-family: Roboto-Light;
    src: url(/Genhome/fonts/Roboto/Roboto-Light.woff);
}

*
{
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
html,body 
{
    height: 100%;
    background-color: #424242;
    font-family: Roboto;
}

html,body,input,textarea,buttons 
{
    /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);*/
}
.thelogo
{
    width: 90px;
    height: 90px;
    margin: 0 auto;
}
#header 
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: left 0.2s;
    text-align: center;
    border-bottom: 1.1px solid #e64a19;
    background-color: #424242;
    cursor: default;
}

#sidedrawer 
{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    left: -200px;
    overflow: auto;
    z-index: 2;
    background-color: #424242;
    color: #e0e0e0;
    transition: transform 0.2s;
    font-weight: 100;
    font-family: Roboto-Light;
    font-size: 16px;
    box-shadow: 1px 0px 2px 0px rgba(35, 35, 35, 0.75);
}
#sidedrawer::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #25252500;
}

#sidedrawer::-webkit-scrollbar
{
    width: 6px;
    background-color: #25252500;
}

#sidedrawer::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #e64a19;
}
#content-wrapper 
{
    min-height: 100%;
    overflow-x: hidden;
    margin-left: 0px;
    transition: margin-left 0.2s;
    background-color: #424242;
    color: #e0e0e0;
    
     /*sticky bottom */
    box-sizing: border-box;
    margin-bottom: -30px;
    padding-bottom: 30px;
}
#footer 
{
    box-sizing: border-box;
    height: 30px;
    margin-left: 0px;
    transition: margin-left 0.2s;
}

.where
{
    font-family: Roboto-Light;
    color: #E0E0E0;
    font-size: 16px;
}

@media (min-width: 768px) 
{
    #header 
    {
      left: 200px;
    }

    #sidedrawer 
    {
      transform: translate(200px);
    }

    #content-wrapper 
    {
      margin-left: 200px;
    }

    #footer 
    {
      margin-left: 200px;
    }

    body.hide-sidedrawer #header 
    {
      left: 0;
    }

    body.hide-sidedrawer #sidedrawer 
    {
      transform: translate(0px);
    }

    body.hide-sidedrawer #content-wrapper 
    {
      margin-left: 0;
    }

    body.hide-sidedrawer #footer 
    {
      margin-left: 0;
    }
}
/**
 * Toggle Sidedrawer
 */
#sidedrawer.active 
{
    transform: translate(200px);
}
/**
 * Header CSS
 */
.sidedrawer-toggle 
{
    color: #e9e4e4;
    cursor: pointer;
    font-size: 30px;
    line-height: 20px;
    margin-right: 10px;
    float: left;
}
.sidedrawer-toggle:hover 
{
    text-decoration: none;
    outline: none;
}
/**
 * Sidedrawer CSS
 */
#sidedrawer-brand 
{
    text-align: center;
    background-color: #424242;
    height: 95px;
    padding-top: 5px;
    /*border: 1.1px solid #e64a19;
    border-radius: 8px;*/
    /*box-shadow: 0px 1.3px 2px 0px rgba(35, 35, 35, 0.75);*/

}
#sidedrawer ul 
{
    list-style: none;
    padding-left: 25px;
}
#sidedrawer > ul 
{
    padding-left: 0px;
}
#sidedrawer > ul > li:first-child 
{
    padding-top: 15px;
}
#sidedrawer strong 
{
    display: block;
    padding: 15px 22px;
    cursor: pointer;
}
#sidedrawer strong:hover 
{
    background-color: #616161;
}
#sidedrawer strong + ul > li 
{
    padding: 6px 0px;
}
/**
 * Footer CSS
 */
#footer 
{
    background-color: #42424200;
    color: #fff;
}
#footer a 
{
    color: #fff;
    text-decoration: underline;
}
.mui-container-fluid
{
    padding-top: 20px;
}

.mui-appbar
{
    background-color: #e64a1900;
}
#triangle, .triangle
{
    float: right;
}
.add
{
    float: right;
    margin-right: 10px;
}
#sidedrawer a
{
    color: #e0e0e0;
    display: block;
    padding-right: 14px;
}
#sidedrawer a:hover
{
    text-decoration: none;
}
.website_name
{
    font-family: Roboto-Light;
    font-size: 40px;
    font-weight: 400;
    color: #ececec;
}
.disconnect
{
    color: #f4511e !important;
}
.mui-divider
{
    height: 2px;
}
a
{
    text-decoration: none !important;
    outline: none !important;
}
a:hover
{
    text-decoration: none !important;
    outline: none !important;
}
a:active
{
    text-decoration: none !important;
    outline: none !important;
}
.location
{
    height: 40px;
    display: flex;
    justify-content: center;
    border-bottom: 1.1px solid #e64a19;
}
.where
{
    align-self: center;
}

@media (min-width:480px)
{
    .mui--appbar-height
    {
        height:140px;
    }
    .mui--appbar-min-height,.mui-appbar
    {
        min-height:100px;
        max-height:100px;
    }
    .mui--appbar-line-height
    {
        line-height:80px;
    }
    .mui--appbar-top
    {
        top:100px
    }
    #header
    {
        height: 100px;
    }
    .location
    {
        height: 40px;
    }
}
@media (max-width:480px)
{
    .mui--appbar-height
    {
        height:116px;
    }
    .mui--appbar-min-height,.mui-appbar
    {
        min-height:76px;
        max-height:76px;
    }
    .mui--appbar-line-height
    {
        line-height:56px;
    }
    .mui--appbar-top
    {
        top:76px;
    }
    #header
    {
        height: 76px;
    }
    .location
    {
        height: 30px;
    }
}