@font-face 
{
    font-family: Roboto;
    src: url(/Genhome/fonts/Roboto/Roboto-Regular.woff);
}
@font-face 
{
    font-family: Roboto-Medium;
    src: url(/Genhome/fonts/Roboto/Roboto-Medium.woff);
}
html
{
	font-family: Roboto;
	background-color: #424242;
}
.website_name
{
	text-align: center;
	justify-self: center !important;
	align-self: end;
	grid-area: a;
	font-size: 60px;
	font-family: Roboto-Medium;
	color: #BDBDBD;
}
.logo
{
	grid-area: a;
	min-height: 101px;
	align-content: center !important;
	align-self: center !important;
}
.thelogo
{
	width: 100px;
	height: 100px;
}
.t2
{
	display:block;
}
#error
{
	color: #E0E0E0;
	text-align: left;
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	min-height: 20px;
}
.container
{
	display: grid;
	grid-template-areas: 
		"a a a"
		"b b b"
		"c c c";
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: 15% 80% 5%;
	margin: auto;
	min-width: 300px;
	align-content: center;
	height: 100%;
	grid-template-rows: ['a'] fit-content(0%);
}
form
{
	display: inline-block;
	grid-column: b;
	align-self: center !important;
	justify-self: center !important;
	min-width: 300px;
  	max-width: 500px;
}
label
{
	font-size: 18px;
	font-family: Roboto-Medium; 
	display: block;
	margin-bottom: 4%;
	color: #F4511E;
}
input
{
	width: 100%;
	height: 30px;
	font-size: 17px;
	border: none;
    border-bottom: 1.4px solid #BDBDBD;
    color: #E0E0E0;
    background-color: #424242;
}
input:focus
{
	border: none;
    border-bottom: 2px solid #E64A19;
    outline: none;
}
.register 
{
	background-color: #BDBDBD;
  	color: white;
  	padding: 0px;
  	border: none;
  	border-radius: 8px !important;
  	cursor: pointer;
  	margin-right: 2%;
  	width: 120px;
  	text-align: center;
  	float: left;
  	height: 30px;
  	font-size: 17px;
  	font-family: Roboto;
  	outline: none;
} 
input[type=submit] 
{
	background-color: #E64A19;
	color: white;
	padding: 0px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	/*margin-right: 2%;*/
	width: 120px;
	font-family: Roboto;
}
.buttons
{
	display: inline;
}
.forgot_password
{
	background: url('/Genhome/Images/login/help.png');
	height: 25px;
	width: 25px;
	outline: none;
	border: none;
	float: right;
}
.forgot_password:hover
{
	background: url('/Genhome/Images/login/help_orange.png');
	cursor: pointer;
}