@font-face 
{
    font-family: Roboto;
    src: url(/Genhome/fonts/Roboto/Roboto-Regular.woff);
}
@font-face 
{
    font-family: Roboto-Medium;
    src: url(/Genhome/fonts/Roboto/Roboto-Medium.woff);
}
@font-face 
{
    font-family: Roboto-Light;
    src: url(/Genhome/fonts/Roboto/Roboto-Light.woff);
}
html
{
	font-family: Roboto;
	background-color: #424242;
	height: 100%;
	min-height: 100%;
}
*
{
	font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;
}
.info
{
	grid-area: f;
	justify-self: center;
	width: fit-content;
	font-size: 17px;
	color: #BDBDBD;
	text-decoration: none;
	align-self: center;
	overflow: auto;
}
.about
{
	color: #E64A19 !important;
	text-decoration: none !important;
	text-decoration: none !important;

}
.contact
{
	color: #E64A19 !important;
	text-decoration: none !important;
}
.rights
{
	grid-area: e;
	color: #E64A19;
	font-size: 13px;	
	font-family: Roboto-Light;
	width: fit-content;
	justify-self: left;
	align-self: center;
	height: fit-content;
}
.genhome
{
	grid-area: b;
	font-size: 60px;
	font-family: Roboto-Light;
	font-weight: bold;
	color: #BDBDBD;
	width: fit-content;
	height: fit-content;
	justify-self: center;
	align-self: end; 
	min-height: 101px; 
}
.logo
{
	display: flex;
	grid-area: a;
	min-height: 101px;
	height:100%;
	align-content: center !important;
	align-self: center !important;
	justify-self: left;
	float: left;
	min-width: 101px;
}
.thelogo
{
	width: 100px;
	height: 100px;
	align-self: center;
}
.t2
{
	display:block;
}
#error
{
	color: #E0E0E0;
	text-align: left;
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	min-height: 20px;
}
.container
{
	display: grid;
	grid-template-areas: 
		"a b c"
		"d d d"
		"e f g";
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 15% 82% 3%;
	margin: auto;
	min-width: 300px;
	align-content: center;
	height: 100%;
	min-height: 100%;
	grid-template-rows: ['a'] fit-content(0%);
}
form
{
	display: inline-block;
	grid-column: d;
	align-self: center !important;
	justify-self: center !important;
	min-width: 300px;
  	max-width: 500px;
  	min-height: 250px;
}
label
{
	font-size: 18px;
	font-family: Roboto-Light; 
	font-weight: bold;
	display: block;
	margin-bottom: 4%;
	color: #F4511E;
}
input
{
	width: 100%;
	height: 30px;
	font-size: 17px;
	border: none;
    border-bottom: 1.1px solid #BDBDBD;
    color: #E0E0E0;
    background-color: #424242;
}
input:focus
{
	border: none;
    border-bottom: 1.5px solid #E64A19;
    outline: none;
}
.register 
{
	background-color: #BDBDBD00;
  	color: #BDBDBD;
  	padding: 0px;
  	border: 1.5px solid #BDBDBD;
  	border-radius: 8px !important;
  	cursor: pointer;
  	margin-right: 2%;
  	width: 120px;
  	text-align: center;
  	float: left;
  	height: 30px;
  	font-size: 17px;
  	font-family: Roboto-Light;
  	outline: none;
} 
input[type=submit] 
{
	background-color: #E64A1900;
	color: #e64a19;
	padding: 0px;
	border: 1.5px solid #e64a19;
	border-radius: 8px;
	cursor: pointer;
	/*margin-right: 2%;*/
	width: 120px;
	font-family: Roboto-Light;
}
.buttons
{
	display: inline;
}
.forgot_password
{
	background: url('/Genhome/Images/login/help.svg');
	height: 25px !important;
	width: 25px !important;
	outline: none;
	border: none;
	float: right;
}
.forgot_password:hover
{
	background: url('/Genhome/Images/login/help_orange.svg');
	cursor: pointer;
}

.loading 
{
	position: absolute;
	top: 50%;
	left: 50%;
}
.loading-bar 
{
	display: inline-block;
	width: 4px;
	height: 18px;
	border-radius: 4px;
	animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) 
{
	background-color: #3498db;
	animation-delay: 0;
}
.loading-bar:nth-child(2) 
{
	background-color: #c0392b;
	animation-delay: 0.09s;
}
.loading-bar:nth-child(3) 
{
	background-color: #f1c40f;
	animation-delay: .18s;
}
.loading-bar:nth-child(4) 
{
	background-color: #27ae60;
	animation-delay: .27s;
}

@keyframes loading 
{
	0% {
	transform: scale(1);
	}
	20% {
	transform: scale(1, 2.2);
	}
	40% {
	transform: scale(1);
	}
}