@font-face 
{
  font-family: Roboto;
  src: url(/Genhome/fonts/Roboto/Roboto-Regular.woff);
}
@font-face 
{
  font-family: Roboto-Medium;
  src: url(/Genhome/fonts/Roboto/Roboto-Medium.woff);
}
@font-face 
{
    font-family: Roboto-Light;
    src: url(/Genhome/fonts/Roboto/Roboto-Light.woff);
}

html {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Roboto-Light;
  background-color: #424242;
  height: 100%;
}
body {
  height: 130%;
}

.container {
  font-family: Roboto-Light;
  font-weight: bold;
  font-size: 14px;
  color: #e64a19;
  background: #424242;
  display: grid !important;
  grid-template-areas: 
    "a b c"
    "d d d"
    "e e e";
  grid-template-rows: 15% 75% 10%;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  min-width: 300px;
  align-content: center;
  height: 100%;
  min-height: 100%;
  grid-template-rows: ['a'] fit-content(0%);
}

.logo {
  display:flex;
  grid-area: a;
  min-height: 101px;
  height:100%;
  align-content: center !important;
  align-self: center !important;
  justify-self: left;
  float: left;
  min-width: 101px;
}

.logo2{
  width: 100px;
  height: 100px;
  align-self: center;
}

.genhome {
  grid-area: b;
  align-self: center;
  justify-self: center;
}

h2 {
  text-align: center;
  font-size: 60px;
  font-family: Roboto-Light;
  font-weight: bold;
  color: #BDBDBD;
}

.HD {
  grid-area: c;
}
.manage {
  grid-area: d; 
  border-top: 1.4px solid #E64A19;
  text-align: center;
}

h1{
  color: rgb(244, 81, 30);
  margin-bottom: 30px;
  height: fit-content !important;
  font-family: Roboto-Light;
  padding: 0;
  text-align: center;
  height: 100px;
  font-size: 40px;
}

h3{
  font-size: 30px;
}

/*Menu deroulant*/

input[type=text] {
  font-style: italic;
  background-color: white;
  width: 45px;
  display: inline-block;
}

.light {
height:30px;
width :30px;
}

.humidity {
height:30px;
width :30px;
}

.temperature {
height:30px;
width :30px;
}

.window {
height:30px;
width :30px;
}

.camera {
height:30px;
width :30px;
}

.plus{
  height:150px;
  width:150px;
}

#menu-deroulant{
  grid-area: d;
  display:inline;
  /*position: relative;*/
}

#menu-deroulant, #menu-deroulant ul{
padding:0;
margin:15;
list-style:none;
text-align:center;
display:inline;
}

#menu-deroulant li{
display:inline-block;
position:relative;
}

#menu-deroulant a{
text-decoration:none;
display:block;
padding:8px 32px;
color:white;
font-family:Roboto-Light;
}

#menu-deroulant ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}

#menu-deroulant li:hover ul{
max-height:20em;
}

#menu-deroulant li:last-child:hover, #menu-deroulant li:last-child li:hover{
background:none;
}

#menu-deroulant ul a{
padding:8px 0;
}
#menu-deroulant li:hover li a{
color:white;
text-transform:inherit;
}
#menu-deroulant li:hover a, #menu-deroulant li li:hover a{
color: rgb(244, 81, 30);
}

.buttons
{
  display: inline-flex;
  height: 64px;
  grid-area: e;
  align-content: center;
}

input[type=submit] {
  background-color: #E64A1900;
  color: #E64A19;
  padding: 0px;
  border: 1.5px solid #E64A19;
  border-radius: 8px;
  cursor: pointer;
  height: 30px;
  font-family: Roboto-Light;
  margin: auto;
  width: 265px;
  font-size: 17px;
}

button[type=submit]{
  background-color: #E64A19;
  color: white;
  padding: 0px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 85%;
  margin-right: 2%;
  width: 265px;
  font-size: 17px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #25252500;
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: #25252500;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #e64a19;
}
